<p>Hi, my name is <%=messages[0].name%>. Hi How are you?</p>
<p>Hi, my name is <%=messages[1].name%>. <%=messages[1].message%></p>
<p>Hi, my name is <%=messages[2].name%>. <%=messages[2].message%>.</p>